<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musicalappstructure">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="PlayItLoud">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllsongsActivity"
            android:label="All Songs" />
        <activity
            android:name=".PlaylistsActivity"
            android:label="Playlists" />
        <activity
            android:name=".GenresActivity"
            android:label="Genres"  />
        <activity android:name=".NowPlayingActivity" android:label="Now Playing"/>
        <activity android:name=".pop" android:label="Pop Songs" />
        <activity android:name=".jazz" android:label="Jazz Songs"/>
        <activity android:name=".dance" android:label="Dance Songs"/>
        <activity android:name=".playlist1" android:label="Playlist 1"></activity>
    </application>

</manifest>